<!-- header content  -->
<!-- <nav class="navbar bg-body-tertiary fixed-top mb-5">
    <div class="container-fluid">
      <div>
        <button class="btn btn-outline-secondary">
          <i class="fa-solid fa-utensils fs-4"></i>
        </button>
      </div>
      <div>Hotel Management</div>
    </div>
  </nav>
   -->


   <mat-toolbar class="mat-elevation-z5">
    <button class="btn text-light"  mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <div class="px-2 small">Libra</div>
  </mat-toolbar>