<!-- <app-header></app-header>
<app-footer></app-footer> -->

<mat-toolbar class="mat-elevation-z5">
  <button class="btn text-light" (click)="drawer.toggle()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <div class="px-2 small">Libra</div>
</mat-toolbar>

<mat-drawer-container autosize class="full-height">
  <mat-drawer
    opened="true"
    #drawer
    mode="side"
    position="start"
    class="custom-drawer"
  >
    <mat-nav-list>
      <mat-list-item>
        <div class="d-grid">
            <button mat-button routerLink="dashboard">
                <mat-icon>dashboard</mat-icon>
                Dashboard
            </button>
        </div>
      </mat-list-item>

      <mat-list-item>
        <div class="d-grid">
            <button mat-button routerLink="orders">
                <mat-icon>assignment</mat-icon>
                Orders
            </button>
        </div>
      </mat-list-item>

      <mat-list-item>
        <div class="d-grid">
            <button mat-button routerLink="kitchen-order-tickets">
                <mat-icon>restaurant</mat-icon>
                KOT
            </button>
        </div>
      </mat-list-item>

      <mat-list-item>
        <div class="d-grid">
            <button mat-button routerLink="reservation">
                <mat-icon>access_time</mat-icon>
                Reservation
            </button>
        </div>
      </mat-list-item>

      <mat-list-item>
        <div class="d-grid">
            <button mat-button routerLink="customer">
                <mat-icon>people</mat-icon>
                Customer
            </button>
        </div>
      </mat-list-item>

      <mat-list-item>
        <div class="d-grid">
            <button mat-button routerLink="menu">
                <mat-icon>menu_book</mat-icon>
                Menu
            </button>
        </div>
      </mat-list-item>

      <mat-list-item>
        <div class="d-grid">
            <button mat-button routerLink="supplier">
                <mat-icon>storefront</mat-icon>
                Supplier
            </button>
        </div>
      </mat-list-item>

      <mat-list-item>
        <div class="d-grid">
            <button mat-button routerLink="inventory">
                <mat-icon>inventory</mat-icon>
                Inventory
            </button>
        </div>
      </mat-list-item>
      
      <mat-list-item>
        <div class="d-grid">
            <button mat-button routerLink="settings">
                <mat-icon>settings</mat-icon>
                Settings
            </button>
        </div>
      </mat-list-item>

<!--  <mat-list-item>
        <div class="d-grid">
            <a routerLink="orders" class="text-decoration-none text-white d-flex">
              <div>
                <mat-icon>manu</mat-icon>
              </div>
              <div>
                Menu
              </div>
            </a>
        </div>
      </mat-list-item> -->      


    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content class="bg-dark-subtle g-0">
    <div style="text-align: center;" class="content-area">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>


<nav class="nav navbar bg-dark text-white fixed-bottom">
<div>footer</div>
</nav>