<!-- <div class="container">
    <div class="d-flex flex-row">

        <div class="col border m-2 bg-light text-dark d-flex flex-row ">
            <div class="">
                <div class="display-5 text-start">5</div>
                <div>Items to Reorder</div>
            </div>
            <div class="display-6"><i class="fa-solid fa-rotate"></i></div>
        </div>



        <div class="col border m-2 bg-light text-dark">abc</div>
        <div class="col border m-2 bg-light text-dark">abc</div>
        <div class="col border m-2 bg-light text-dark">abc</div>
    </div>
</div> -->

<div class="container">
  <!-- type 1 columns -->
  <div class="d-flex flex-row gap-3 m-2">
    <div class="col border shadow bg-light text-dark d-flex flex-row rounded">
      <div class="d-flex flex-column p-2">
        <div class="display-6 text-primary fw-bold me-auto">3</div>
        <div class="me-auto small">Items To Reorder</div>
      </div>
      <div class="ms-auto display-6 align-content-center text-warning">
        <i class="fa-solid fa-arrows-rotate p-2 small"></i>
      </div>
    </div>

    <div class="col border shadow bg-light text-dark d-flex flex-row rounded">
      <div class="d-flex flex-column p-2">
        <div class="display-6 text-primary fw-bold me-auto">4</div>
        <div class="me-auto small">Upcoming Reservations</div>
      </div>
      <div class="ms-auto display-6 align-content-center text-warning">
        <i class="fa-regular fa-clock p-2 small"></i>
      </div>
    </div>

    <div class="col border shadow bg-light text-dark d-flex flex-row rounded">
      <div class="d-flex flex-column p-2">
        <div class="display-6 text-primary fw-bold me-auto">6</div>
        <div class="me-auto small">Pending KOT</div>
      </div>
      <div class="ms-auto display-6 align-content-center text-warning">
        <i class="fa-solid fa-spinner p-2 small"></i>
      </div>
    </div>

    <div class="col border shadow bg-light text-dark d-flex flex-row rounded">
      <div class="d-flex flex-column p-2">
        <div class="display-6 text-primary fw-bold me-auto">$ 666</div>
        <div class="me-auto small">Today's Revenue</div>
      </div>
      <div class="ms-auto display-6 align-content-center text-warning">
        <i class="fa-brands fa-bitcoin p-2 small"></i>
      </div>
    </div>
  </div>


  <!-- order status -->
  <div class="d-flex flex-row gap-3 m-2">
    <div class="col-lg-9 col-md-9 col-sm-12 border bg-light text-dark rounded">
      <table class="table table-striped small">
        <thead>
          <tr>
            <th>Order ID</th>
            <th>Order Type</th>
            <th>Attendant</th>
            <th>Time</th>
            <th>Status</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>

          <tr>
            <td>111</td>
            <td>Take Away</td>
            <td>Lara-228</td>
            <td>09-12-2024 10:00:00</td>
            <td><span class="badge bg-success rounded-pill">Paid</span></td>
            <td>$300</td>
          </tr>
        
          <tr>
            <td>112</td>
            <td>Take Away</td>
            <td>Micheal-347</td>
            <td>10-12-2024 09:45:00</td>
            <td><span class="badge bg-danger rounded-pill">KOT Pending</span></td>
            <td>$300</td>
          </tr>
        
          <tr>
            <td>113</td>
            <td>Dine In</td>
            <td>John-786</td>
            <td>14-12-2024 08:20:00</td>
            <td><span class="badge bg-success rounded-pill">Paid</span></td>
            <td>$300</td>
          </tr>
        
          <tr>
            <td>114</td>
            <td>Dine In</td>
            <td>Marry-998</td>
            <td>03-12-2024 12:30:00</td>
            <td><span class="badge bg-warning rounded-pill">Bill Generated</span></td>
            <td>$300</td>
          </tr>
        
          <tr>
            <td>115</td>
            <td>Dine In</td>
            <td>Wane-324</td>
            <td>23-12-2024 01:10:00</td>
            <td><span class="badge bg-primary rounded-pill">Item Saved</span></td>
            <td>$300</td>
          </tr>
        
        </tbody>
      </table>
    </div>

    <!-- quick links -->
    <div class="col border bg-light text-dark rounded">
      <div class="small">
        <table class="table table-hover">
          
          <thead>
            <tr>
              <th>
                  Quick Links
              </th>
          </tr>
        </thead>
        <tbody>
          <tr><td><a class="text-decoration-none text-dark" href="#">New Order</a></td></tr>
          <tr><td><a class="text-decoration-none text-dark" href="#">Reserve Table</a></td></tr>
          <tr><td><a class="text-decoration-none text-dark" href="#">Add Menu Items</a></td></tr>
          <tr><td><a class="text-decoration-none text-dark" href="#">Add Invoice</a></td></tr>
          <tr><td><a class="text-decoration-none text-dark" href="#">Update Daily Usage</a></td></tr>
        </tbody>
        </table>
      </div>
      <div>

      </div>
    </div>
  </div>
</div>
