<div class="container">
    <div class="d-flex flex-row">

        <div class="col border m-2 bg-light text-dark d-flex flex-row ">
            <div class="">
                <div class="display-5 text-start">5</div>
                <div>Items to Reorder</div>
            </div>
            <div class="display-6"><i class="fa-solid fa-rotate"></i></div>
        </div>



        <div class="col border m-2 bg-light text-dark">abc</div>
        <div class="col border m-2 bg-light text-dark">abc</div>
        <div class="col border m-2 bg-light text-dark">abc</div>
    </div>
</div>