<!-- <div class="container">
    <div class="d-flex flex-row">

        <div class="col border m-2 bg-light text-dark d-flex flex-row ">
            <div class="">
                <div class="display-5 text-start">5</div>
                <div>Items to Reorder</div>
            </div>
            <div class="display-6"><i class="fa-solid fa-rotate"></i></div>
        </div>



        <div class="col border m-2 bg-light text-dark">abc</div>
        <div class="col border m-2 bg-light text-dark">abc</div>
        <div class="col border m-2 bg-light text-dark">abc</div>
    </div>
</div> -->

<div class="container">
  <!-- type 1 columns -->
  <div class="d-flex flex-row gap-3 m-2">
    <div class="col border shadow bg-light text-dark d-flex flex-row rounded">
      <div class="d-flex flex-column p-2">
        <div class="display-6 text-primary fw-bold me-auto">3</div>
        <div class="me-auto small">Items To Reorder</div>
      </div>
      <div class="ms-auto display-6 align-content-center text-warning">
        <i class="fa-solid fa-arrows-rotate p-2 small"></i>
      </div>
    </div>

    <div class="col border shadow bg-light text-dark d-flex flex-row rounded">
      <div class="d-flex flex-column p-2">
        <div class="display-6 text-primary fw-bold me-auto">4</div>
        <div class="me-auto small">Upcoming Reservations</div>
      </div>
      <div class="ms-auto display-6 align-content-center text-warning">
        <i class="fa-regular fa-clock p-2 small"></i>
      </div>
    </div>

    <div class="col border shadow bg-light text-dark d-flex flex-row rounded">
      <div class="d-flex flex-column p-2">
        <div class="display-6 text-primary fw-bold me-auto">6</div>
        <div class="me-auto small">Pending KOT</div>
      </div>
      <div class="ms-auto display-6 align-content-center text-warning">
        <i class="fa-solid fa-spinner p-2 small"></i>
      </div>
    </div>

    <div class="col border shadow bg-light text-dark d-flex flex-row rounded">
      <div class="d-flex flex-column p-2">
        <div class="display-6 text-primary fw-bold me-auto">$ 666</div>
        <div class="me-auto small">Today's Revenue</div>
      </div>
      <div class="ms-auto display-6 align-content-center text-warning">
        <i class="fa-brands fa-bitcoin p-2 small"></i>
      </div>
    </div>
  </div>

  <!-- order status -->
  <div class="d-flex flex-row gap-3 m-2">
    <div class="col-lg-9 col-md-9 col-sm-12 border bg-light text-dark rounded">
      abc
    </div>

    <!-- quick links -->
    <div class="col border bg-light text-dark rounded">abc</div>
  </div>
</div>
